
// Background colors are separate from foreground colors to make it easier in the future to change them according to accessibility criteria

// Main background color
$main-bg-color: #FAFBFA;

// Blue

$brand-color-1: #3993BF; // hsla(200, 54%, 49%, 1);
$brand-bg-color-1: #3993BF; // hsla(200, 54%, 49%, 1);

// Red

$brand-color-2: #D95757; // hsla(0, 63%, 60%, 1);
$brand-bg-color-2: #D95757; // hsla(0, 63%, 60%, 1);

// White

$brand-color-3:	#FFF; // hsla(0, 0, 100, 1);
$brand-bg-color-3: #FFF; // hsla(0, 0, 100, 1);

// Clear gray

$brand-bg-color-4: #F5F5F5;


// Black - gray

$default-text-dark: #0B1D26; // hsla(0, 0%, 0%, 1);
$default-text-lighter: #8A9499;	// hsla(200, 7%, 57%, 1

// Dark headers

$dark-headers-color: #0B1D26; //