<div aria-expanded="false" class="collapse navbar-collapse" id="navigationCollapse">
	<nav id="search" role="navigation">
		<div class="navbar-form navbar-right" role="search">
			#set ($VOID = $velocityPortletPreferences.setValue("portletSetupPortletDecoratorId", "barebone"))

			#search($velocityPortletPreferences.toString())

			#set ($VOID = $velocityPortletPreferences.reset())
		</div>
	</nav>

	<nav id="global" role="navigation">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Para ti</a></li>
			<li><a href="#">Para negocio</a></li>
		</ul>
	</nav>

	<nav class="$nav_css_class site-navigation" id="navigation" role="navigation">
		<ul aria-label="#language ("site-pages")" class="nav nav-justified navbar-site" role="menubar">
			<h1 class="hide-accessible">#language ("navigation")</h1>

			#foreach ($nav_item in $nav_items)
				#set ($nav_item_attr_selected="")
				#set ($nav_item_attr_has_popup="")
				#set ($nav_item_caret="")
				#set ($nav_item_css_class="lfr-nav-item")
				#set ($nav_item_href_link="")
				#set ($nav_item_link_css_class="")

				#if ($nav_item.hasChildren())
					#set ($nav_item_attr_has_popup="aria-haspopup='true'")
					#set ($nav_item_caret='<span class="lfr-nav-child-toggle"><i class="icon-caret-down"></i></span>')
					#set ($nav_item_css_class="$nav_item_css_class dropdown")
					#set ($nav_item_link_css_class="dropdown-toggle")
				#end

				#if ($nav_item.isBrowsable())
					#set ($nav_item_href_link="href='$nav_item.getURL()'")
				#end

				#if ($nav_item.isSelected())
					#set ($nav_item_attr_selected="aria-selected='true'")
					#set ($nav_item_css_class="$nav_item_css_class selected active")
				#end

				<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
					<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" $nav_item_href_link $nav_item.getTarget() role="menuitem">
						<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
					</a>

					#if ($nav_item.hasChildren())
						<ul aria-expanded="false" class="child-menu dropdown-menu" role="menu">
							#foreach ($nav_child in $nav_item.getChildren())
								#set ($nav_child_attr_selected="")
								#set ($nav_child_css_class="lfr-nav-item")
								#set ($nav_child_href_link="")

								#if ($nav_child.isBrowsable())
									#set ($nav_child_href_link="href='$nav_child.getURL()'")
								#end

								#if ($nav_child.isSelected())
									#set ($nav_child_attr_selected="aria-selected='true'")
									#set ($nav_child_css_class="active selected")
								#end

								<li class="$nav_child_css_class" id="layout_$nav_child.getLayoutId()" $nav_child_attr_selected role="presentation">
									<a aria-labelledby="layout_$nav_child.getLayoutId()" $nav_child_href_link $nav_child.getTarget() role="menuitem">$nav_child.getName()</a>
								</li>
							#end
						</ul>
					#end
				</li>
			#end
		</ul>
	</nav>
</div>

<script>
	Liferay.Data.NAV_INTERACTION_LIST_SELECTOR = '.navbar-site';
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-site';
</script>