#footer {
	background-color: $brand-bg-color-1;
	color: $brand-color-3;
	padding: 20px 0;

	a {
		color: $brand-color-3;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	@include sm {
		padding: 40px 0 20px;
	}

	h2 {
		font-family: open_sanssemibold;
		margin-bottom: 40px;
	}
}

#footer-modules {
	@include sm {
		margin-bottom: 50px;
		padding: 10px 0;
		position: relative;

		&::before {
			border-right: 1px solid #5EA7CB;
			content: " ";
			display: block;
			height: 100%;
			position: absolute;
			right: 50%;
			top: 0;
			width: 1px;
		}
	}
}

.mod-footer {
	display: table;
	margin-bottom: 30px;
	width: 100%;

	@include media-query($breakpoint_tablet, null) {
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.user-icon {
		background: rgba($brand-color-3, 0.06);
		border-radius: 50%;
		color: $brand-color-3;
		display: table-cell;
	}

	h3 {
		font-family: open_sanssemibold;
		margin: 0 0 5px;
	}

	.txt {
		display: table-cell;
		vertical-align: middle;

		@include sm {
			padding-left: percentage(25/580);
		}
	}

	.content {
		font-size: 12px;
		opacity: 0.5;

		@include media-query($breakpoint_tablet, null) {
			font-size: 16px;
		}
	}

	p:last-child {
		margin-bottom: 0;
	}
}

#footer-recursive {
	background-color: #318AB7;
	font-family: open_sanssemibold;
	margin-bottom: 30px;
	opacity: 0.6;

	ul {
		@include media-query($breakpoint_tablet, null) {
			border-bottom: 1px solid #61ABCF;
		}

		@include media-query($breakpoint_tablet, null) {
			border-bottom-width: 0;
		}
	}
}