#footer {
	background-color: $brand-bg-color-1;
	padding: 20px 0;

	&, a {
		color: $brand-color-3;
	}

	@include sm {
		padding: 40px 0 20px;
	}

	h2 {
		font-family: open_sanssemibold;
		font-size: 12px;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
}

#footer-modules {
	@include sm {
		margin-bottom: 50px;
		padding: 10px 0;
		position: relative;
		&::before {
			content:" ";
			display:block;
			position: absolute;
			top: 0;
			height: 100%;
			right: 50%;
			border-right: 1px solid #5ea7cb;
			width: 1px;
		}
	}
}

// Modules

.mod-footer {
	display: table;
	margin-bottom: 30px;
	width: 100%;

	@include media-query($breakpoint_tablet, null) {
		margin-bottom: 45px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Icons

	.img {
		background: #3D97C4 url(../images/ui/mod-footer-sprite.png) center 14px no-repeat;
		border-radius: 50%;
		display: table-cell;
		height: 64px;
		width: 64px;
	}

	.img-2 {
		background-position: center -49px;
	}

	.img-3 {
		background-position: center -111px;
	}

	.img-4 {
		background-position: center -174x;
	}

	// Text

	h3 {
		font-family: open_sanssemibold;
		font-size: 20px;
		margin: 0 0 5px;
	}

	.txt {
		display: table-cell;
		vertical-align: middle;

		@include sm {
			padding-left: percentage(25/580);
		}
	}

	.content {
		opacity: 0.5;
	}
}

// Recursive

#footer-recursive {
	background-color: #318AB7;
	font-family: open_sanssemibold;
	font-size: 12px;
	margin-bottom: 30px;
	opacity: 0.6;
	padding-bottom: 25px;
	padding-top: 25px;

	li {
		margin-top: 20px;
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}
	}

	ul {
		@include media-query($breakpoint_tablet, null) {
			border-bottom: 1px solid #61ABCF;
		}
	}

	@include media-query(sm, $screen-sm-max) {
		li {
			display: inline-block;
			padding-left: 15px;
			width: 49%;
		}
	}

	@include media-query($breakpoint_tablet, null) {
		overflow: hidden;

		ul {
			border-bottom-width: 0;
			float: right;
		}

		li {
			display: inline-block;
			margin: 0 0 0 35px;
		}
	}
}