@import "partials/_buttons";
@import "partials/_buttons";
@import "partials/_fonts";
@import "partials/_footer";
@import "partials/_header";
@import "partials/_modules";
@import "partials/_navbar";
@import "partials/_text-formats";

footer, nav, header {
	& ul, & li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.img-spacing {
	margin-bottom: 15px;
}

.form-control {
	background-color: transparent;
}

body {
	background-color: $main-bg-color;
}

#wrapper {
	padding: 0;

	#content .portlet-layout {
		margin-left: 0;
		margin-right: 0;
		min-height: 400px;
	}
}

.modify-pages .delete-tab {
	color: red;
	height: 20px;
	left: -15px;
	right: inherit;
	top: 22px;
}

.add-page-editor {
	.input-group {
		top: 8px;
	}

	.btn {
		padding: 3px 10px;
	}
}

.lfr-portlet-title-editable .btn {
	padding: 3px 10px;
}